<%- include('includes/head') %> <%- include('includes/header') %>

<section>
  <div class="feed">
    <div class="feed-default">
      <div class="perfil-feed">
        <img class="foto-perfil" src="/profile-default.png" />

        <form class="msg input-atividade">
          <input
            id="msg"
            type="text"
            placeholder="Publique qualquer coisa, <%= user.nome %>"
            autocomplete="off"
          />
        </form>
      </div>

      <div class="anexos">
        <a href=""><i class="fa-solid fa-camera"></i>Vídeo</a>
        <a href=""><i class="fa-regular fa-images"></i>Fotos</a>
        <a href=""><i class="fa-solid fa-face-smile"></i>Sentimento</a>
      </div>
    </div>

    <div class="feed-chat">
      <div class="feed-default publi perfil-publi">
        <div class="perfil-feed">
          <img class="foto-perfil" src="/profile-default.png" />

          <div class="infos">
            <p class="userName"></p>
            <p class="tempo">3 d</p>
          </div>

          <form action="/apagar-mensagem" method="POST" class="form-apagar">
            <input type="hidden" name="room" value="feed:1729232020" />
            <input type="hidden" name="id" class="value" />
            <button class="apagar">
              <i class="fa-solid fa-trash"></i>
            </button>
          </form>
        </div>

        <div class="div-desc">
          <p class="texto"></p>
        </div>

        <!-- <div class="div-media">
          <img src="/photo-default.png" class="media" />
        </div> -->

        <div class="curtidas">
          <p class="numCurtidas"></p>
        </div>

        <div class="div-actions">
          <button class="like-btn act-btn">
            <i class="anx fa-regular fa-thumbs-up"><span>Curtir</span></i>
          </button>

          <button class="comment-btn act-btn">
            <i class="fa-regular fa-comment"><span>Comentar</span></i>
          </button>

          <button class="share-btn act-btn">
            <i class="fa-regular fa-share-from-square"
              ><span>Compartilhar</span></i
            >
          </button>
        </div>

        <div class="comentarios">
          <div class="your-comment comment-def">
            <img src="profile-default.png" class="comment-photo" />
            <form class="form-comment">
              <input
                type="text"
                name="comment"
                class="input-comment"
                placeholder="Comente algo, <%= user.nome %>"
              />
            </form>
          </div>

          <div class="user comment-def">
            <div>
              <img src="profile-default.png" class="comment-photo" />
              <p class="comment-name"></p>
            </div>

            <p class="comment"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
