<%- include('includes/head') %> <%- include('includes/header') %>

<section>
  <div class="feed">
    <div id="feed-default" class="feed-default">
      <div class="perfil-feed">
        <div class="perfil">
          <div class="feed-top">
            <div class="background-image-div">
              <img
                class="background-image"
                src="/background-photo-default.png"
              />

              <button class="edit-button">Editar foto</button>
            </div>

            <div class="infos">
              <img class="foto-perfil" src="/profile-default.png" />
              <div class="detalhes-user">
                <p class="userName"><%= user.nome %> <%= user.sobrenome%></p>
                <p class="amigos">106 amigos</p>
              </div>
              <div class="descricao-div">
                <p class="descricao">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
              </div>
            </div>
          </div>

          <div class="feed-bottom">
            <div class="img img-te"></div>

            <div class="img img-tm"></div>

            <div class="img img-td"></div>

            <div class="img img-me"></div>

            <div class="img img-mm"></div>

            <div class="img img-md"></div>

            <div class="img img-be"></div>

            <div class="img img-bm"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
