<%- include('includes/head') %> <%- include('includes/header') %>

<section>
  <div class="feed">
    <div id="feed-default" class="feed-default">
      <div class="perfil-feed">
        <div class="perfil">
          <div class="feed-top">
            <div class="background-image-div">
              <img
                class="background-image"
                src="/background-photo-default.png"
              />
            </div>

            <div class="infos">
              <img class="foto-perfil" src="/profile-default.png" />
              <div class="feed-middle">
                <div class="detalhes-user">
                  <p class="userName">
                    <%= searchedProfile.nome %> <%= searchedProfile.sobrenome%>
                  </p>
                  <p class="amigos">106 amigos</p>
                </div>

                <div class="interacao">
                  <button><i class="fa-solid fa-user-plus"></i></button>
                  <button><i class="fa-solid fa-comment-dots"></i></button>
                </div>
              </div>

              <div class="descricao-div">
                <div class="descricao">
                  <p class="descricao-text"><%= searchedProfile.descricao %></p>
                </div>
              </div>
            </div>
          </div>

          <div class="feed-bottom">
            <div class="img img-te"></div>

            <div class="img img-tm"></div>

            <div class="img img-td"></div>

            <div class="img img-me"></div>

            <div class="img img-mm"></div>

            <div class="img img-md"></div>

            <div class="img img-be"></div>

            <div class="img img-bm"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('includes/footer') %>
